include *.txt
include *.md
include *.pkl
include *.csv
recursive-include ./pressure_model/*

include pressure_model/data/train.csv
include pressure_model/data/test.csv
include pressure_model/trained/*.pkl
include pressure_model/VERSION
include pressure_model/config.yml

include requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
